<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242895762957-9htum7a7p68s5ohlv9m14p4ih47bl9m1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242895762957-9htum7a7p68s5ohlv9m14p4ih47bl9m1</string>
	<key>API_KEY</key>
	<string>AIzaSyBxs0Ruf-gtQIPKfN9eyrz9GGTtVl0iGP0</string>
	<key>GCM_SENDER_ID</key>
	<string>242895762957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leoho..CocoaPodsDemo</string>
	<key>PROJECT_ID</key>
	<string>cocoapodsdemo-e118d</string>
	<key>STORAGE_BUCKET</key>
	<string>cocoapodsdemo-e118d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242895762957:ios:71b0630e48642c56648744</string>
</dict>
</plist>